---
import CustomTableOfContentsList from "./CustomTableOfContentsList.astro";
const { toc } = Astro.locals.starlightRoute
// Uncomment to change Overview heading and comment above
// if (toc && toc.items.length > 0 && toc.items[0].text === "Overview") {  
//   toc.items[0].text = ""
//   toc.items[0].slug = ""
// }
---

{
  toc && (
    <starlight-toc
      data-min-h={toc.minHeadingLevel}
      data-max-h={toc.maxHeadingLevel}
    >
      <nav aria-labelledby="starlight__on-this-page">
        <h2 id="starlight__on-this-page">
          {Astro.locals.t('tableOfContents.onThisPage', 'Default Text')}
        </h2>
        <CustomTableOfContentsList toc={toc.items} />
      </nav>
    </starlight-toc>
  )
}
<script>
document.addEventListener('DOMContentLoaded', () => {
  const elements = document.querySelectorAll('a[href="#_top"]') ;

  elements.forEach(element => {
    if (element.textContent && element.textContent.trim() === 'Overview') {
      element.remove();
    }
  });
});
</script>