---
import CustomTableOfContentsList from "./CustomTableOfContentsList.astro";
const { labels, toc } = Astro.props;

// Uncomment to remove Overview heading
const index = toc.items.findIndex(
  (item: { slug: string }) => item.slug === "_top"
);
if (index !== -1) {
  toc.items.splice(index, 1);
}

// Uncomment to change Overview heading and comment above
// toc.items[0].text = "Test"
---

{
  toc && (
    <starlight-toc
      data-min-h={toc.minHeadingLevel}
      data-max-h={toc.maxHeadingLevel}
    >
      <nav aria-labelledby="starlight__on-this-page">
        <h2 id="starlight__on-this-page">
          {labels["tableOfContents.onThisPage"]}
        </h2>
        <CustomTableOfContentsList toc={toc.items} />
      </nav>
    </starlight-toc>
  )
}
